<div class="modal fade" id="deleteOptionsModal" tabindex="-1" aria-labelledby="deleteOptionConfirmationModal" aria-hidden="true">
    @Html.AntiForgeryToken()
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" id="modalContent">
            <div class="modal-header">
                <h4 class="modal-title">Delete Options</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <h5>Please select the delete option:</h5>
                <input type="radio" name="deleteOption" id="deleteEverything">
                <label for="deleteEverything">Delete the topic with its posts.</label>
                <br>
                <input type="radio" name="deleteOption" id="transferPosts">
                <label for="transferPosts">Delete the topic but transfer its posts to another topic.</label>

                <input type="hidden" id="deleteId">

                <div class="mt-3 d-none" id="selectTopicList">
                    <label for="topics"><h5>Choose a Topic:</h5></label>
                    <select name="topics" id="topics"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="confirmDeleteOption" class="btn btn-danger">Confirm Delete</button>
            </div>
        </div>
    </div>
</div>