@model Forum.UI.ViewModels.TopicViewModel

@{
	ViewData["Title"] = "Create";
}
<form asp-controller="Topic" asp-action="Create" method="post">
	<input type="hidden" asp-for="CommunityId" />

	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Create a Topic</h2>
			<hr />
		</div>
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label asp-for="CommunityId"></label>
			<select asp-for="CommunityId" asp-items="Model.Communities" class="form-control">
				<option value="">Select a Community</option>
			</select>
			<span asp-validation-for="CommunityId" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="TopicName"></label>
			<input asp-for="TopicName" class="form-control" />
			<span asp-validation-for="TopicName" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
		<a asp-controller="Topic" asp-action="Index" asp-route-communityId="@Model.CommunityId" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>