<div class="modal fade" id="zoomModal" tabindex="-1" aria-labelledby="zoomModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body text-center">
                <img id="zoomedImage" src="" alt="" class="img-fluid rounded shadow-lg" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </div>
</div>