.dropdown-menu {
    position: absolute;
}

.dropdown-menu {
    display: none;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu .dropend .dropdown-menu {
    left: 100%;
    top: 0;
    margin-left: 0.1rem;
}

.dropend:hover > .dropdown-menu {
    display: block;
}

.topic:hover {
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: blue;
    color: white;
}