@model Forum.UI.ViewModels.PostViewModel

@{
    ViewData["Title"] = "Create";
}
<form asp-controller="Post" asp-action="Create" method="post">
	<input type="hidden" asp-for="CommunityName" />
	<input type="hidden" asp-for="TopicName" />

	<div class="border p-3 mt-4">
		<div class="row">
			<h2 class="text-primary">Create a Post</h2>
			<hr />
		</div>
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label asp-for="CommunityId"></label>
			<select asp-for="CommunityId" asp-items="Model.Communities" class="form-control" id="communityDropdown">
				<option value="">Select a Community</option>
			</select>
			<span asp-validation-for="CommunityId" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="TopicId"></label>
			<select asp-for="TopicId" class="form-control" id="topicDropdown">
				<option value="">Select a Topic</option>
			</select>
			<span asp-validation-for="TopicId" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="PostContent.PostTitle"></label>
			<input asp-for="PostContent.PostTitle" class="form-control" />
			<span asp-validation-for="PostContent.PostTitle" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="PostContent.PostDescription"></label>
			<textarea asp-for="PostContent.PostDescription" class="form-control" rows="6" placeholder="Type something..."></textarea>
			<span asp-validation-for="PostContent.PostDescription" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="PostContent.ImagePath">Upload Image</label>
			<input type="file" asp-for="PostContent.ImagePath" class="form-control" accept="image/*" />
			<span asp-validation-for="PostContent.ImagePath" class="text-danger"></span>
		</div>
		
		<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
		<a asp-controller="Community" asp-action="Index" asp-route-communityId="@Model.CommunityId" class="btn btn-secondary" style="width:200px">
			Back to Communities
		</a>
		<a asp-controller="Topic" asp-action="Index" asp-route-communityId="@Model.CommunityId" class="btn btn-secondary" style="width:150px">
			Back to Topics
		</a>
		<a asp-controller="Post" asp-action="Index" asp-route-communityId="@Model.CommunityId" class="btn btn-secondary" style="width:150px">
			Back to Posts
		</a>
	</div>
</form>

<script>
	document.getElementById("communityDropdown").addEventListener("change", function() {
		var communityId = this.value;
		fetch(`/Post/GetTopics?communityId=${communityId}`)
			.then(response => response.json())
			.then(data => {
				var topicDropdown = document.getElementById("topicDropdown");
				topicDropdown.innerHTML = '<option value="">Select a Topic</option>';
				data.forEach(topic => {
					var option = document.createElement("option");
					option.value = topic.value;
					option.textContent = topic.text;
					topicDropdown.appendChild(option);
				});
			});
	});
</script>